.axis-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: calc(150px + 1vw);
  justify-content: center;
  margin: 2%;
  max-width: 100%;
  width: 70%;
}

.turtle-img {
  position: absolute;
  bottom: 100%;
  width: calc(1vw + 50px);
}

.marker-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  position: absolute;
  width: 10%;
  font-style: normal;
}

.marker {
  background-color: #000;
  border: calc(1px + 0.1vw) solid #000;
  border-radius: 10%;
  height: 0;
  transform: rotate(90deg);
}

.marker-pos {
  bottom: 0%;
  position: absolute;
  transform: rotate(0deg);
  font-family: 'Cascadia Code';
  font-weight: regular;
}

.marker-label {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top: 0%;
  transform: rotate(0deg);
  font-family: 'Quatrocetto Sans';
}

.axis-img {
  width: 100%;
}
