@mixin font-styles {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(10px + 1vw);
  font-style: normal;
  font-weight: bold;
}

.axis-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: calc(150px + 1vw);
  justify-content: center;
  margin: 2%;
  max-width: 100%;
  width: 70%;
}

.marker-container {
  @include font-styles;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  position: absolute;
  width: 10%;
}

.marker {
  background-color: #000;
  border: calc(1px + 0.1vw) solid #000;
  border-radius: 10%;
  height: 0;
  transform: rotate(90deg);
}

.marker-pos {
  bottom: 0%;
  position: absolute;
  transform: rotate(0deg);
}

.marker-label {
  font-size: calc(10px + 1vw);
  font-style: italic;
  position: absolute;
  top: 0%;
  transform: rotate(0deg);
}

.axis-img {
  width: 100%;
}
