@use '../_colors.scss' as colors;
@use '../_vars.scss' as vars;

@mixin font-styles {
  font-family: Cascadia Code, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

#graphinput-check-question {
  @include font-styles();
  margin-bottom: 2vh;
}

#graphinput-question {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  font-family: Quattrocento Sans, sans-serif;
  font-size: calc(13px + 1vw);
  font-style: normal;
  font-weight: bold;
  margin-bottom: 2vh;
  margin-left: 0;
  margin-right: auto;
  margin-top: 210px;
  padding-left: 8%;
}

.graphinput-question {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
}

#graphinput-question-box {
  display: flex;
  flex-direction: column;
}

#graphinput-question-container {
  align-items: baseline;
  display: flex;
  margin-bottom: -15px;
  margin-top: -15px;
  //padding-left: 20%;
}

#graphinput-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  padding-top: 5vw;
  text-align: left;
}

.graphinput-check-box {
  background: linear-gradient(#000, #000) center bottom 0 / calc(100% - 10px)
    2px no-repeat;
  background-color: colors.$bg-white;
  border: 0;
  font-family: Cascadia Code, sans-serif;
  font-size: 24px;
  height: 18pt;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  size: 64pt;
  text-align: center;
}

.graphinput-check-box:focus {
  background-color: colors.$input-grey;
}

#graphinput-check-button-container {
  align-self: center;
  padding-bottom: 10vh;
  //padding-top: 4vh;
  position: relative;
}

#graphinput-check-button {
  @include font-styles();
  background-color: colors.$primary-green;
  border: hidden;
  border-radius: 10px;
  color: colors.$text-white;
  padding: 1.25vw 2.5vw;
}

#graphinput-check-wrong {
  @include font-styles();
  color: red;
}

.graphinput-wrong-box {
  align-self: center;
}
