.circle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25% 10% 15%;
  position: relative;
  width: calc(550px + 1vw);
}

.circle {
  position: relative;
  width: 100%;
}

.turtle {
  bottom: calc(0.15 * 100%);
  left: calc(0.46 * 100%);
  position: absolute;
  width: 10%;
}

.circle-exercise {
  font-family: Quattrocento Sans, sans-serif;
  font-size: 4.5vh;
  font-style: italic;
  font-weight: bold;
  position: absolute;
}

.circle-label {
  font-family: Cascadia Code, sans-serif;
  font-size: 4.5vh;
  font-weight: regular;
  position: absolute;
}

.circle-cursor {
  position: absolute;
}

.circle-cursor-big {
  transform: scale(2);
}
