@use '../_colors.scss' as colors;
@use '../_vars.scss' as vars;

@mixin font-styles {
  font-family: Quattrocento Sans, sans-serif;
  font-size: calc(16px + 1vw);
  font-style: normal;
  font-weight: bold;
}

.unitcircle-question-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
}

.unitcircle-question-box {
  display: flex;
  flex-direction: column;
}

#unitcircle-question {
  @include font-styles();
  margin-bottom: 2vh;
  margin-left: 2vh;
}

#unitcircle-question-container {
  align-items: baseline;
  display: flex;
  margin-bottom: -15px;
  margin-top: -15px;
  padding-left: 0;
}

/* use #8D8D8D for faded text */
#unitcircle-check-question {
  @include font-styles();
  font-size: calc(13px + 1vw);
  font-style: normal;
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
}

#unitcircle-check-question-faded {
  @include font-styles();
  @include font-styles();
  color: #8d8d8d;
  font-size: calc(13px + 1vw);
  font-style: normal;
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
}

.unitcircle-check-box {
  background: linear-gradient(#000, #000) center bottom 0 / calc(100% - 10px)
    2px no-repeat;
  background-color: colors.$bg-white;
  border: 0;
  font-family: Cascadia Code, sans-serif;
  font-size: calc(16px + 1vw);
  height: 18pt;
  margin-bottom: 0;
  margin-left: 2vh;
  size: 64pt;
  text-align: center;
  width: calc(1.5 * (16px + 1vw));
}

.unitcircle-check-box:focus {
  background-color: colors.$input-grey;
}

#unitcircleinput-check-button {
  @include font-styles();
  background-color: colors.$primary-green;
  border: hidden;
  border-radius: 10px;
  color: colors.$text-white;
  padding: 1.25vw 2.5vw;
}

#unitcircleinput-check-button:hover {
  box-shadow: 5px 5px 5px #989696;
}

#unitcircleinput-check-button:active {
  box-shadow: none;
  transform: scale(0.95);
}

#unitcircle-check-wrong {
  @include font-styles();
  color: red;
  margin-bottom: 3%;
  margin-top: 3%;
}

.unitcircle-wrong-box {
  align-self: center;
}

.unitcircleinput-check-button-container {
  align-self: center;
}

.instruction {
  @include font-styles();
  margin: 0;
  padding-left: 10%;
  text-align: left;
}
