@use '_colors.scss' as colors;
@use '_vars.scss' as vars;

@mixin font-styles {
  font-family: Quattrocento Sans, sans-serif;
  font-size: calc(16px + 1vw);
  font-style: normal;
  font-weight: bold;
}

#congrats-page-container {
  background-color: colors.$primary-green;
  flex-grow: 1;
  height: 100%;
}

#turtle-logo {
    color: colors.$text-white;
    padding-bottom: 2.5vh;
    padding-left: 2vw;
    padding-right: 0vw;
    padding-top: 2vh;
    width: 400px;
  
    //align-items: flex-start;
    text-align: left;
    float: left;
  }
  
  #turtle-logo-text {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: vars.$logo-font-size;
    padding-left: vars.$lesson-side-left-padding;
    vertical-align: middle;
  }
  
  #turtle-image {
    display: inline-block;
    vertical-align: middle;
    //float:left;
  }

.speech-bubble {
  //align-items: center;
  // display: flex;
  //align-items: left;
  //justify-content: left;
  //height: auto;
  padding-right: 16.463vw;
  padding-left: 10.816vw;
  padding-top: 4.83vh;
}

#speech-bubble-image { 
    width: 80%;
    height: auto;
    // display: flex;
}

#encouraging-turtle {
    align-items: flex-end;
    //display: flex;
    padding-left: 4.218vw;
    width: calc(100px + 15vw);
    //float: left;
    display: inline-block;
    height: calc(100px + 15vw);
}

#cat {
    align-items: flex-end;
    display: flex;
    padding-left: 6.2vw;
    width: calc(100px + 15vw);
    display: inline-block;
}

#dog {
    align-items: flex-end;
    display: flex;
    padding-right: 10vw;
    width: calc(100px + 15vw);
    float: right;
    display: inline-block;
}

#rectangle {
    position: absolute;
    width: 228px;
    height: 133px;
    left: 1010px;
    top: 804px;

    background: #E5E5E5;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

