@use '_colors.scss' as colors;
@use '_vars.scss' as vars;

@mixin font-styles {
  font-family: Quattrocento Sans, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: bold;
}

#congrats-page-container {
  align-items: center;
  background-color: colors.$primary-green;
  display: flex;
  flex-direction: column;
  // display: flex;
  height: 100%;
  justify-content: center;
  // position: relative;
  width: 100%;
}

#turtle-logo {
  color: colors.$text-white;
  float: left;
  padding-left: 2vw;
  padding-top: 2vh;
  text-align: left;
  width: 37vw;
}

#turtle-logo-text {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: vars.$logo-font-size;
  padding-left: vars.$lesson-side-left-padding;
  vertical-align: middle;
}

#turtle-image {
  display: inline-block;
  vertical-align: middle;
}

.speech-bubble {
  margin-left: 18vw;
  margin-right: 18vw;
  max-height: 100vh;
  padding: 0 2rem;
  position: relative;
  // position: absolute;
  width: 60vw;
}

#speech-bubble-image {
  height: auto;
  width: 60vw;
}

.congrats-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  max-width: 60vw;
  padding: 0 8vw;
  position: absolute;
  top: 5rem;
}

.congrats-text p {
  font-size: 1vw;
}

#congratsHeader {
  color: colors.$primary-green;
  font-family: 'PT Sans', sans-serif;
  font-size: 4vw;
  font-weight: bold;
}

.congrats-links a {
  color: #000;
  font-size: 1vw;
}

#congrats-links-header {
  color: colors.$primary-green;
  font-family: 'PT Sans', sans-serif;
  font-size: 2vw;
  font-weight: bold;
}

#encouraging-turtle-congratulations {
  // bottom: 3vh;
  height: 13.69vh;
  // left: 2vh;
  // position: absolute;
  width: 24vw;
}

#turtle-picture {
  bottom: 2rem;
  left: 2rem;
  padding-left: 6vw;
  position: absolute;
  width: 14vw;
}
