@use '_colors.scss' as colors;
@use '_vars.scss' as vars;

@mixin font-styles {
  font-family: Quattrocento Sans, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: bold;
}

#congrats-page-container {
  background-color: colors.$primary-green;
  // display: flex;
  height: 100%;
  // position: relative;
  width: 100%;
}

#turtle-logo {
  color: colors.$text-white;
  float: left;
  padding-left: 2vw;
  padding-top: 2vh;
  text-align: left;
  width: 37vw;
}

#turtle-logo-text {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: vars.$logo-font-size;
  padding-left: vars.$lesson-side-left-padding;
  vertical-align: middle;
}

#turtle-image {
  display: inline-block;
  vertical-align: middle;
}

.speech-bubble {
  height: auto;
  margin-left: 18vw;
  margin-right: 18vw;
  // position: absolute;
  width: auto;
}

#speech-bubble-image {
  height: auto;
  width: 100%;
}

#congratsTxt {
  color: colors.$primary-green;
  font-family: 'PT Sans', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  left: 50vw;
  position: absolute;
  top: 26%;
  transform: translate(-50%, -60%);
}

#encouraging-turtle-congratulations {
  // bottom: 3vh;
  height: 13.69vh;
  // left: 2vh;
  // position: absolute;
  width: 24vw;
}

#turtle-picture {
  padding-left: 6vw;
  width: 14vw;
}
