@use '_colors.scss' as colors;

#exercise-side-container {
  background-color: colors.$bg-white;
  flex-grow: 1;
  height: 100%;
}

.exercise-box {
  align-items: center;
  display: flex;
  height: 85%;
  justify-content: center;
  width: 100%;
}
