.graph-container {
  align-items: center;
  border: solid 1px rgb(209, 209, 209);
  border-radius: 12px;
  height: 0;
  margin-left: 5%;
  // If editing the sizing of graph-container (padding-bottom or width),
  // modify the value of `yxRatio` in Graph.tsx
  padding-bottom: 22.5%;
  position: absolute;
  top: 5%;
  width: 50%; // see above warning
}

.grid-line {
  outline: 1px solid #c2c2c2;
  position: absolute;
}

.axis-line {
  outline: 2px solid #31a19b;
  position: absolute;
  z-index: 1;
}

.vertical {
  height: 100%;
  width: 0;
}

.horizontal {
  height: 0;
  width: 100%;
}

.pointer {
  position: absolute;
  z-index: 3;
}

.point {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.point-label {
  font-family: Quattrocento Sans, sans-serif;
  font-size: 2vw;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 3;
}

%line-segment {
  height: 0;
  position: absolute;
  z-index: 2;
}

.line-segment-solid {
  @extend %line-segment;
  outline: 1px solid #000;
}

.line-segment-dashed {
  @extend %line-segment;
  border-top: 2px dashed #000;
}
