.graph-container {
  border: solid 2px #000;
  border-radius: 12px;
  height: 0;
  padding-bottom: 22.5%;
  position: absolute;
  top: 5%;
  width: 40%;
}

%grid-line {
  outline: 1px solid #c2c2c2;
  position: absolute;
}

.grid-line--vertical {
  @extend %grid-line;
  height: 100%;
  width: 0;
}

.grid-line--horizontal {
  @extend %grid-line;
  height: 0;
  width: 100%
}