@use '_colors.scss' as colors;
@use '_vars.scss' as vars;

@mixin font-styles {
  font-family: Quattrocento Sans, sans-serif;
  font-size: calc(16px + 1vw);
  font-style: normal;
  font-weight: bold;
}

#lesson-text {
  display: flex;
  flex-direction: column;
}

#code-text {
  color: colors.$text-white;
  font-family: Cascadia Code, sans-serif;
  font-size: vars.$body-font-size;
  padding-bottom: 0.75vh;
  padding-left: vars.$lesson-side-left-padding;
  padding-right: vars.$lesson-side-left-padding;
  padding-top: 0.75vh;
  text-align: center;
}

#lesson-side-container {
  background-color: colors.$primary-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  overflow-y: auto;
  width: 45%;
}

#turtle-logo {
  color: colors.$text-white;
  padding-bottom: 1.5vh;
  padding-left: 2vw;
  padding-top: 2vh;

  //align-items: flex-start;
  text-align: left;
}

#turtle-logo-text {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: vars.$logo-font-size;
  padding-left: vars.$lesson-side-left-padding;
  vertical-align: middle;
}

#turtle-image {
  display: inline-block;
  vertical-align: middle;
  //float:left;
}

#lesson-side-header {
  color: colors.$text-white;
  font-family: 'PT Sans', sans-serif;
  font-size: vars.$header-font-size;
  padding-bottom: 1vh;
  padding-left: vars.$lesson-side-left-padding;
  text-align: left;
}

#lesson-side-body {
  color: colors.$text-white;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: vars.$body-font-size;
  padding-left: vars.$lesson-side-left-padding;
  padding-right: vars.$lesson-side-left-padding;
  padding-top: 1vh;
  text-align: left;
}

#turtle-and-levels-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1vh;
}

#encouraging-turtle {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: auto;
  padding-bottom: 2vh;
  width: 45%;
}

#footer-space {
  height: 8vh;
}

// LevelSelector

.selector-box {
  align-items: flex-end;
  display: flex;
  height: fit-content;
  justify-content: center;
  width: 100%;
}

.level-selector {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 5;
  justify-content: center;
  margin: 7px calc(4px + 1vw);
  width: 70%;
}

.level-button {
  @include font-styles;
  align-items: center;

  background-color: colors.$primary-green;
  border: 2px solid colors.$bg-white;

  border-radius: 50%;
  color: colors.$text-white;
  display: flex;
  flex-shrink: 0;
  height: calc(24px + 1vw);
  justify-content: center;
  line-height: calc(24px + 1vw);
  max-width: 45px;
  vertical-align: middle;
  width: calc(24px + 1vw);
}

.level-button.current-level {
  background-color: colors.$bg-white;
  color: colors.$primary-green;
}

.level-button:hover {
  background-color: colors.$bg-white;
  color: colors.$primary-green;
  cursor: pointer;
}

.level-connector {
  background-color: colors.$bg-white;
  border-color: colors.$bg-white;
  border-style: solid;
  border-width: 2px 0;
  flex-shrink: 5;
  height: 0;
  max-width: 45px;
  min-width: 10px;
  width: calc(35px + 0.5vw);
}
