@use '_colors.scss' as colors;

#lesson-side-container {
  background-color: colors.$primary-green;
  height: 100%;
  width: 40%;
}

#turtle-logo {
  color: colors.$text-white;
  padding: 5%;
  //align-items: flex-start;
  text-align: left;
}

#turtle-text {
  display: inline-block;
  font-size: 48px;
  padding-left: 20px;
  vertical-align: middle;
}

#turtle-image {
  display: inline-block;
  vertical-align: middle;
  //float:left;
}

#lesson-side-header {
  color: colors.$text-white;
  font-size: 30px;
  padding-bottom: 2.5%;
  padding-left: 5%;
  text-align: left;
}

#lesson-side-body {
  color: colors.$text-white;
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  text-align: left;
}
