@use '_colors.scss' as colors;

#lesson-side-container {
  background-color: colors.$primary-green;
  height: 100%;
  overflow-y: auto;
  width: 40%;
}

#turtle-logo {
  color: colors.$text-white;
  padding: 5%;
  //align-items: flex-start;
  text-align: left;
}

#turtle-logo-text {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 3.5em;
  padding-left: 20px;
  vertical-align: middle;
}

#turtle-image {
  display: inline-block;
  vertical-align: middle;
  //float:left;
}

#lesson-side-header {
  color: colors.$text-white;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  padding-bottom: 2.5%;
  padding-left: 5%;
  text-align: left;
}

#lesson-side-body {
  color: colors.$text-white;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  text-align: left;
}

#encouraging-turtle {
  align-items: flex-end;
  display: flex;
  flex-shrink: 5;
  max-width: 400px;
  min-width: 100px;
  padding: 5%;
  width: calc(35vw);
}
